@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@using TerrorTown;
@using System.Linq;
@inherits Panel

<style>
    .hello
        {
            max-width: 100%;
            padding: 10px;
            margin: 10px;
            min-height: 62px;
            font-size: 32px;
            border-radius: 4px;
            text-shadow: 2px 2px 4px darkgray;
            background-color: rgba(200, 200, 200, 0.65);
            align-items: center;
            justify-content: center;
            border: 2px #333;
        }
</style>

<div style="color: @classColor.Hex; background-color: #a3a3a3; width: 300px; justify-content: center; border-top-left-radius: 12px; border-top-right-radius: 12px; white-space:nowrap">
        @className
    </div>

@code
{
    private string className {get; set;}

    private Color classColor { get; set; }

    public void Init(string classname, Color classcolor)
    {
        className = classname;
        classColor = classcolor;
    }

}
