@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@using TerrorTown;
@using System.Linq;
@inherits Panel

@namespace TCT_Classes.UI

<style>
    .hello
        {
        position: absolute;
        color: @classColor.Hex;
        background-color: rgba(183, 183, 183, 0.8);
        width: 300px;
        justify-content: center;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        white-space: nowrap;
        left: 33px;
        bottom: 130px;
        height: 48px;
        border: 0.5px solid rgba(128,128,128,0.16);
        font-size: 30px;
        box-shadow: 0px 0px 24px rgba(0,0,0,0.4);
        text-transform: uppercase;
        text-stroke: 4px rgb(32,32,32);
        font-family: Poppins-SemiBold;
        font-weight: 800;
    }
</style>

<div class="hello">
        @className
    </div>

@code
{
    private string className {get; set;}

    private Color classColor { get; set; }

    public void Init(string classname, Color classcolor)
    {
        className = classname;
        classColor = classcolor;
    }

}
